<form method="post" class="{{form_css_class}}" action="{{config.action}}" target="{{config.target}}" novalidate>
    {{> ./head.hbs}}
    <div class="cart-step" data-minicart-role="state:default">
        <!-- ./step1.hbs -->
    </div>
    <div class="cart-step" data-minicart-role="state:step2">
        <!-- ./step2.hbs-->
    </div>
    <div class="cart-step" data-minicart-role="state:step3">
        <!-- ./step3.hbs-->
    </div>
    {{#with cart}}
        <input type="hidden" name="cmd" value="_cart"/>
        <input type="hidden" name="upload" value="1"/>
        {{#each settings}}
            <input type="hidden" name="{{@key}}" value="{{.}}"/>
        {{/each}}

    {{/with}}
</form>

